.problem-section{
    min-height: 85vh;
    margin-left: 15vw;
    margin-right: 15vw;
}

.section-title-container{
    margin-top: 1rem;
}

.section-title{
    width: fit-content;
    padding: 1.5rem;
    text-align: left;
    background-color: var(--secondary);
}

.problem-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 2em;
}

@media (max-width: 768px){
    .problem-card-container{
        display: flex;
        flex-direction: column;
    }
}

.problem-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary);
    box-shadow: .2em .2em rgba(0,0,0,0.8);
    padding: 1em;
    background: var(--secondary);
    color: var(--text);
}

.problem-card:hover{
    cursor: pointer;
    box-shadow: .2em .2em inset rgba(0,0,0,0.5);
}

.problem-card-image{
    width: 10em;
}

.problem-card-title{
    font-weight: normal;
    padding: .5em;
    letter-spacing: .05em;
}

.problem-card-description{
    font-family: sans-serif;
    letter-spacing: .05em;
}