nav{
    background-color: var(--primary);
    padding: 1em 1em;
}

.nav-web-title{
    text-shadow: 0 1px gray;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

.nav-list-item{
    padding: 1em;
}

.nav-link{
    text-decoration: none;
    font-style: italic;
    color: var(--text);
}