nav{
    background-color: var(--primary);
    padding: 1em 1em;
    display: flex;
    justify-content:space-between;
}

.nav-web-title{
    color: var(--text);
    font-size: 1.7em;
}

.nav-web-subtitle{
    color: var(--text);
    font-family: sans-serif;
    font-size: 1em;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-list-item{
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid var(--text);
    border-radius: 1em;
}

.nav-list-item:hover{
    background-color: var(--secondary);
}

.nav-link{
    text-decoration: none;
    font-family: sans-serif;
    color: var(--text);
}