/* Main Page */

:root{
  --primary: #33E09B;
  --secondary: #7AE6BA;
  --tertiary: #324869;
  --text: #166143;
  background: var(--primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link{
  color: var(--text);
  font-style: none;
  text-decoration: none;
}