/* Main Page */

:root{
  --primary: #70A0E8;
  --secondary: #577DB5;
  --tertiary: #324869;
  --text: #FFFFFF;
  background: #EEEEEE;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}

html {
  scroll-behavior: smooth;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}