/* Main Page */

:root{
  --primary: white;
  --secondary: black;
  --tertiary: rgb(100, 197, 100);
  --text: rgb(236, 236, 236);
  --background: #3e4346;
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--text);
}

html {
  scroll-behavior: smooth;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link{
  color: var(--text);
  font-style: none;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--secondary);
  border: 4px solid var(--secondary);
  padding: .75em;
  color: var(--text);
}

.btn-primary:hover{
  background-color: transparent;
  color: var(--secondary);
}

.btn-inverted{
  border: 4px solid var(--secondary);
  padding: .75em;
}

.btn-inverted:hover{
  background-color: var(--secondary);
}

.btn-light{
  background-color:var(--text);
  color: var(--secondary);
  padding: .75em;
}

.disabled{
  opacity: .5;
}

.title{
  color: var(--secondary);
}

.title-light{
  color: var(--text);
}

.text-dark{
  color: var(--secondary);
}

.text-light{
  color: var(--text);
}

.no-hover{
  pointer-events: none;
}