.feedback-form-container{
    height: 77vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.feedback-text-div{
    margin-top: 1em;
}

.feedback-form{
    width: 50%;
    height: 550px;
    padding: 0;
}

.feedback-input{
    width:90%;
}

.feedback-button{
    margin-top: 10px;
}