form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin:1rem 25rem;
    padding: 0.5em;
    background-color: var(--secondary);
}

input{
    width:55%;
    padding: 1em;
    border: 0px;
}

textarea{
    width:55%;
    padding: 1em;
}

label{
    color: var(--text);
    padding: .5em;
    font-size: 1.1em;
}

.form-title{
    color: var(--text);
    margin-top: .5em;    
}

.form-side-note{
    color: var(--text);
    padding: .5em;
}

.form-submit-btn{
    margin: .5rem;
    font-size: 1.1em;
    font-weight: bold;
}

/* .hidden{
    display: none;
} */