form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: 25em;
    margin-right: 25em;
    padding: 0.5em;
    background-color: var(--secondary);
}

input{
    width:55%;
    padding: 1em;
    border: 0px;
}

textarea{
    width:55%;
    padding: 1em;
}

label{
    color: var(--text);
    padding: .5em;
    font-size: 1.1em;
}

.form-title{
    color: var(--text);
    background-repeat: no-repeat;
}

.form-side-note{
    color: var(--text);
    padding: .5em;
}

/* .hidden{
    display: none;
} */