footer{
    background-color: var(--secondary);
    width: 100%;
    height:10vh;
    bottom: 0;
    left: 0;
    margin-right: 10em;
}

.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

.footer-list-item{
    padding: 1em;
}

.footer-link{
    text-decoration: none;
    font-style: italic;
    color: var(--text);
}