.problem-edit-card{
    border: 1px solid
}

.step-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px 15px;
}

.step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: 0.5em;
    box-shadow: .2em .2em rgba(0,0,0,0.8);
    padding: 1em;
    background: var(--secondary);
    color: var(--text);
    width: 600px;
}

.step-card:hover{
    box-shadow: .2em .2em inset rgba(0,0,0,0.5);
}

.step-card-image{
    width: 10em;
}

.step-card-title{
    font-weight: normal;
    padding: .5em;
    letter-spacing: .05em;
}

.step-card-description{
    font-family: sans-serif;
    letter-spacing: .05em;
}

.create-response-background{
    display: flex;
    justify-content:center;
    align-items:center;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.response-form-container{
    background: var(--secondary);
    border-radius: .5em;
    width:30%;
}

.close-response-form{
    position: relative;
    right: -20%;
    top: 0;
}

.response-next-step-form{
    margin: 0;
}