.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding-top: 2%;
  background-image: url(../../assets/3DBenchy.jpg);
  background-position: center;
}

.container {
  padding: 0.5em 0.5em;
}

.hero-text-container {
  padding-top: 5em;
}

.hero-title {
  font-size: 2.8em;
  font-weight: lighter;
}

.hero-sub-title {
  font-size: 1.5em;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-image {
  position: relative;
  width: 10rem;
}

.hero-action-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.hero-link {
  font-size: 1.5em;
}