.problem-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}

.problem-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary);
    margin: 0.5em;
}

.problem-card-image{
    height: 15em;
    width: 15em;
}